@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, sunset --prefersdark;
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
